.results {
  min-height: 92vh;
  width: 100%;
  background: #393939;
  border-bottom: 1px solid gray;
}
.top {
  height: 120px;
  padding: 40px 10px;
  font-size: 25px;
  width: 100%;
  font-weight: 100;
}
.top h2 {
  font-weight: 500;
  font-size: 32px;
  color: white;
}
